@()
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reactive Postgres</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/index.js")"></script>
        <style>
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Reactive Postgres</a>
                </div>
            </div>
        </div>

        <div class="container">
            <ul id="bars"></ul>

            <form action="@routes.Application.createBar()" method="post">
                <input name="name">
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>